<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^index\.php$ - [L]

Options -Indexes

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule . /inai/tpov1/index.php [L]

RewriteRule ^index.php/(.*)$ [L]
</IfModule>